body
{
    margin: 0;
    position: relative;
}
.blur
{
    background-image: url(./image/todopage1.jpg.png);
    background-size: 100% 100%;
    width: 1400px;
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);

}
.popup
{
    position: fixed;
    width: 400px;
    height:200px;
    top: 240px;
    left: 550px;
    z-index: 4;
    background-color: white;
    border: 2px solid orangered;
    border-radius: 10px;
    box-shadow: 3px 5px 7px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.addnewlist
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: orangered;
}
.input3
{
    width: 300px;
    height: 25px;
    border:2px solid orangered;
    border-radius: 5px;
}
.add
{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    background-color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: center;

}